main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh auto;
}
form {
    display: flex;
    flex-direction: column; 
    width: 100%; 
}

.reg {
    background-color:rgba(255, 255, 255, 0);
    color:rgb(130, 130, 130);
    padding: 0;
}