.header_navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #D1DFF3;
    padding: 0 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header_navigation_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 1200px;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}

.header_logo {
    height: 50px;
    margin-right: 20px;
}

.header_links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_right{
    cursor: pointer;
}